.terminal-text {
    color: #C7C7C7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.terminal-text-highlighted {
    color: #60FA68;
}

img {
    // space between images
    margin-left: 10px;
    margin-right: 3px;
}