.terminal-window {
    background-color: #383938;
    width: 100%;
    height: 30px;
    position: absolute;
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.terminal-window-button {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0 4px;
}

.terminal-window-name {
    color: #B4B5B4;
    padding-left: 40%;
}

nav {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 300px 300px 300px 300px 300px;
    padding-top: 30px;
    background-color: #454545;
}

.nav-button {
    background-color: #1C1C1C;
    color: #B5B5B5;
    padding: 10px;
    font-size: 110%;
    text-decoration: none;
}

.nav-button-active {
    background-color: #383938;
    color: #fff;
    padding: 10px;
    font-size: 110%;
    text-decoration: none;
}

.nav-button:after {
    content: " (-FloOS)";
}