.terminal-window {
    background-color: #383938;
    width: 100%;
    height: 30px;
    position: absolute;
    align-items: center;
    display: flex;
    padding-left: 10px;
}

.terminal-window-button {
    position: relative;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0 4px;
}

nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 300px 300px 300px 300px 300px;
    padding-top: 30px;
}

.nav-button-text {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 110%;
    text-decoration: none;
}

.nav-button-text:after {
    content: " (-FloOS)";
}