<div class="terminal-window">
  <div class="terminal-window-button" style="background-color:#FF5F57"></div>
  <div class="terminal-window-button" style="background-color:#FEBC30"></div>
  <div class="terminal-window-button" style="background-color:#2BC840"></div>
</div>
<nav>
  <ul>
    <li><a href="#home">~</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#blog">Blog</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
